.banner-container{
    background-image: url(../../../../image/banner.jpg);
    background-size: cover;
    background-position: center;
    padding: 100px 0px;
    color: white;
}
.banner-container h3{
  color: #C59D5F;  
  font-style: italic;
  font-family:'Times New Roman', Times, serif;
}
.banner-container h1{
    font-size: 70px;
    letter-spacing: 2px;
    font-weight: bold;
    margin-bottom: 20px;

}
.banner-container p{
    font-size: 20px;
}

