.services{
    background-color: #F7F8FA;
    padding: 100px 0px;
}
.section-p{
    text-align: center;
    color: #48BE4E;
    font-size: 20px;
}
.section-h2{
   text-align: center; 
   margin-top: -10px;
   margin-bottom: 30px;
}