main{
    display: grid;
    grid-template-columns: 3fr 1fr;
    background-color: #F4F4F4;
}
.show-influencer{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    margin: 30px;
}