.single-person{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    text-align: center;
    border-radius: 10px;
}
.singl-person-container{
   

}
.single-person img{
width: 40%;
border-radius: 50%;
background-color: red;
position: relative;
top: 40px;
border: 5px solid #f3f3f3;
transition: transform 1s;
}
.single-person:hover img{
   transform: scale(1.1);
}
.image{
    background-color: #237F52;
}
.name{
   color: #237F52; 
   font-size: 20px;
   font-weight: 300;
   margin-top: 50px;
}
.button{
    margin-bottom: 30px;
    padding: 8px 30px;
    font-size: 15px;
    font-weight: 600;
    background-color: #ea9937;
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}
.cost{
    color: red;
}
.followers{
    color: #237F52;
}