.testimonials{
    background-color: #F7F8FA;
    padding: 80px 0px;
    
}
.reviews{
background-color: white;
padding: 20px;
box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
border-radius: 5px;
}
.reviews img{
    border-radius: 50%;
}
.reviews h4{
    color: #C59D5F;
    font-size: 20px;
    margin-left: 20px;
    font-weight: bold;
}
.reviews p{
    font-style: italic;
}
.review-rate{
    margin-top: 10px;
    color: #C59D5F;
    font-size: 18px;
}