.navbar-brand img{
    width: 65%;
}
.navbar{
padding: 10px 0px !important;
}
.navbar-nav .nav-link{
  color: rgb(0, 0, 0) !important;  
  margin-left: 25px !important;
  font-size: 17px;
}
.navbar-text{
  font-weight: bold;
  color: #48BE4E !important;
}
.navbar-text img{
  width: 30px;
  border-radius: 40px;
}
@media only screen and (max-width: 414px) {
 .navbar-brand{
   width: 70%;
 }
}