header{
    background-color: #237F52;
    padding: 50px;
    text-align: center;
    color: rgb(247, 247, 247);
}
header img{
    width: 100px;
}
header .budget{
    font-size: 60px;
    padding-bottom: 0px;
    margin-bottom: 0px;
    margin-top: 5px;
    /* text-transform: uppercase; */
}
header hr{
    width: 70px;
    margin-bottom: 30px;
}
header p{
    color: #57CD93;
    font-size: 20px;
}