.nav-link{
    font-size: 22px ;
    padding-left: 30px !important;
    font-weight: 700;
    font-family: 'Rajdhani', sans-serif;
    color: #130F40 !important;
    
}
.header-link{
    margin-right: 30px;
}
.header-button-design{
    background-color: #FF630E !important;
    color:white !important;
    border: none !important;
    font-weight: 600 !important;
}