.home-service{
    background-color: #F7F7F7;
    overflow: hidden;
}
.home-servic-text{
    text-align: center;
}
.home-servic-text p{
color: #FF630E;
font-weight: 600;
font-size: 20px;
text-transform: uppercase;
margin-top: 100px;
}
.home-servic-text h1{
    font-weight: 700;
    margin-bottom: 50px;
}
.for-sapce{
    padding-bottom: 100px;
}