.form-styler{
    width: 70%;
    margin: auto;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    font-size: 20px;
}
.form-styler input{
    padding: 10px;
    font-size: 20px;
    font-weight: 500;
}
.contact-us{
    /* text-align: center; */
    padding: 60px 0px;
    background-color: #F7F7F7;
}
.contact-us h1{
    text-align: center;
    font-weight: 700;
    margin-bottom: 30px;
}
.from-bgs{
    background-color: white;
    padding: 100px;
    border-radius: 10px;
}